body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #f4f4f4;
  line-height: 1.5;
  font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
}
#main-doc {
  grid-column: 2/3;
  border-left: 1px solid #000;
  padding-left: 20px;
}
#grid-1 {
  grid-column: 1/2;
}
#navbar {
  position: fixed;
  top: 0;
  left: 30px;
  /* padding-left: 20px; */
}
#navbar header {
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 15px 0;
}
#navbar ul {
  list-style-type: none;
}
#navbar ul li {
  border-bottom: 1px solid #000;
}
#navbar a {
  display: block;
  padding: 15px 0;
  padding-left: 10px;
  text-decoration: none;
  color: #000;
}
header {
  font-weight: bold;
  font-size: 1.5rem;
}
code {
  background-color: rgba(172, 159, 159, 0.2);
  display: block;
  padding: 5px;
}

@media (max-width: 1200px) {
  body {
    grid-template-columns: 1fr;
  }
  #grid-1 {
    display: none;
  }
}
