body {
  font-family: monospace;
  padding: 15px 5px;
}
#main {
  background-color: #eee;
}
#headnote {
  text-align: center;
  padding-top: 10px;
}
#img-div {
  background-color: #fff;
  max-width: 90%;
  margin: auto;
}
#image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
#img-caption {
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding: 15px 0;
}
#tribute-info {
  width: 50%;
  margin: auto;
}
#tribute-info h2 {
  text-align: center;
  padding: 10px 0;
}
#tribute-info ul li {
  padding: 10px 0;
}
span {
  font-weight: bold;
}
#quote {
  font-style: italic;
  padding: 10px 0;
}
#footnote {
  text-align: center;
  padding-bottom: 10px;
}
